*.bak

*.zwc

# Credentials
/aws/credentials
/aws/config
/aws/creds-vault/vault.log

# Only use locally compiled completions
**/completions/*
!aws/completions/_asp
!iterm/completions/_project
!iterm/completions/_workspace
